.comunicados-button-wrapper {
    display: none;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
}

.comunicados-button {
    background-color: #191e26;
    color: #d0f7ee;
    border: 2px solid #7AE2CF;
    padding: 8px 15px 5px;
    border-radius: 10px;
    cursor: pointer;
    font-family: Nicky Sans, serif;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    transition: background-color 0.3s ease-in-out;
    touch-action: manipulation;
}

.comunicados-button:hover {
    background-color: #293a41;
}

.comunicados-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.comunicados-modal-content {
    background: #202731;
    padding: 0 20px 20px;
    border-radius: 12px;
    width: 86%;
    max-width: 600px;
    max-height: 80vh;
    overflow-y: auto;
    box-shadow: 0 4px 12px rgba(0,0,0,0.5);
}

.comunicados-modal-close-wrapper {
    position: absolute;
    top: 15px;
    right: 15px;
    overflow: hidden;
    border-radius: 10px;
}

.comunicados-modal-close {
    background-color: #191e26;
    border: 2px solid #7AE2CF;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    z-index: 100;
    transition: background-color 0.3s ease;
    touch-action: manipulation;
}

.comunicados-modal-close:hover {
    background-color: #293a41;
}

@media (max-width: 1020px) {
    .comunicados-button-wrapper {
        display: inline-block;
    }
}
