.welcome,
.welcome-comunicados {
    margin-top: 15px;
    flex: 1 1 400px;
    padding: 1.4rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    background-color: #202324;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.welcome {
    margin: 10px 5px;
    background-image: url("/src/assets/welcome-bg.webp");
    min-height: 320px;
}

.welcome-comunicados {
    margin: 10px 5px;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*flex-direction: column;*/
    background-image: url("/src/assets/welcome2-bg.webp");
    min-height: 320px;
    max-width: 600px;
}

.welcome-comunicados h2,
.welcome h2 {
    margin-top: 0;
    margin-bottom: 10px;
    background-color: rgb(25, 30, 38);
    display: inline-block;
    padding: 8px 16px;
    border-radius: 15px;
}

.welcome p {
    margin-top: 15px;
    margin-bottom: 0;
    line-height: 1.5;
    background-color: rgb(25, 30, 38);
    display: inline-block;
    padding: 5px 16px;
    border-radius: 15px;
    font-size: 18px;
}

@media (max-width: 970px) {
    .welcome p {
        font-size: 15px;
    }
}

@media (max-width: 1020px) {
    .welcome-comunicados {
        display: none;
    }
}
